<div  class="container-fluid class="form-group" ">
<h3>Admin Panel</h3>

        <button type="button" class="btn btn-success" ui-sref="allStudent">Show All Students</button>
<form role="form" class="col-lg-8">

         <input class="form-control" type="text" ng-model="txtStFName" placeholder="Student's First Name : ">
         <input class="form-control" type="text" ng-model="txtStuLName" placeholder="Student's Last Name :">


            <label class="form-control">Student's Class :
                <label class="radio-inline" >
                    <input type="radio" ng-model="txtStuClass" value="1"> 1
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="txtStuClass"  value="2"> 2
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="txtStuClass"  value="3"> 3
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="txtStuClass"  value="4"> 4
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="txtStuClass"  value="5"> 5
                </label>
            </label>



     <input class="form-control" type="text" ng-model="txtStuId" placeholder="Student's Account ID : ">

    <input class="form-control" type="text" ng-model="txtStuPass" placeholder="Student's Account Password : ">

    <!--div class="col-lg-6" ng-hide="true">
        <input class="form-control" type="text" ng-model="txtSubName" placeholder="Subject Name:"></label>
        <input class="form-control" type="text" ng-model="txtSubId" placeholder="Subject ID :"></label>
        <button class="btn btn-primary" ng-click ="addSubjects()"  ng-disabled="(subjects.length >= 5 || (txtSubName == null || txtSubId == null))">
            Add Subject
        </button>
    </div -->

    <div class="col-lg-3 clearfix">

       <label class="form-control"
              ng-repeat="subj in tempSubjects">
           <input class="checkbox-inline"
                  type="checkbox"
                  ng-model="isChk"
                  ng-click="tempSubjectCall($index,isChk)">  {{subj.name}}
       </label>

    </div>
    <!--div class="col-lg-6">
        <ul style="border: 3px solid grey ; margin: 10px;  padding: 30px ; width: 40%">
            <li ng-repeat="subject in subjects" ng-model="location" ng-init="location = $index">
                Subject Name : {{subject.name}} <br>
                Subject ID : {{subject.id+ "\t" + "Added !  "}} <button  ng-click="removeSubject()"> Edit </button>
            </li>
        </ul>
    </div -->
    <div class="col-lg-6">
       <label class="form-control">Student's Rating :
           <label class="radio-inline" >
                <input type="radio" ng-model="txtRating" value="1"> 1
           </label>
           <label class="radio-inline">
               <input type="radio" ng-model="txtRating"  value="2"> 2
           </label>
           <label class="radio-inline">
               <input type="radio" ng-model="txtRating"  value="3"> 3
           </label>
           <label class="radio-inline">
               <input type="radio" ng-model="txtRating"  value="4"> 4
           </label>
           <label class="radio-inline">
               <input type="radio" ng-model="txtRating"  value="5"> 5
           </label>
       </label>



        <div class="from-group form-inline">

            <label ><input type="text" class="form-control" ng-model="txtTitle" placeholder="Task Title : "></label><br>
            <label ><textarea class="form-control" ng-model="txtDesc" placeholder="Task Description :"></textarea><br>
            </label>

       </div>
        <input class="form-control" type="button" value="Add Student" ng-click="addStudent()" ng-disabled="$scope.txtStFName = null;
                        (txtStuLName == null||
                        txtStuClass == null||
                        txtStuId == null||
                        txtStuPass == null||
                        txtTitle == null||
                        txtDesc == null||
                        txtRating == null||
                        subjects == null)"><br>
     </div>
</form>