<h1>All Students Data {{message}}</h1>
        <table class="table table-condensed">
            <thead>
            <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Class</th>
            <th>Rating</th>
            <th>Subjects</th>
            <th>Task</th>
            <th>ID</th>
            <th>Password</th>
            </tr>
            </thead>
                <tbody>
                    <tr ng-repeat="student in students">
                        <td ng-hide=" toShow == $index " > {{student.fname}}</td><td ng-show="toShow == $index"><input  type="text"  ng-value="student.fname"></td>
                        <td ng-hide=" toShow == $index " >{{student.lname}}</td><td ng-show="toShow == $index"><input  type="text"  ng-value="student.lname"></td>
                        <td ng-hide=" toShow == $index " >{{student.class}}</td><td ng-show="toShow == $index"><input  type="text"  ng-value="student.class"></td>
                        <td ng-hide=" toShow == $index " >{{student.rating}}</td><td ng-show="toShow == $index"><input  type="text"  ng-value="student.rating"></td>
                        <td><div ng-hide=" toShow == $parent.$index " ng-repeat="option in student.subjects">{{option.name}}</div>
                            <!-- select ng-repeat="option in student.subjects"
                                    ng-show="toShow == $parent.$index">
                                <option ng-repeat="option in student.subjects" >{{option.name}}</option>
                                <option> </option></select -->
                            <label class="btn-block" ng-show="toShow == $parent.$index"
                                   ng-repeat="subj in tempSubjectsNames">
                                <input class="checkbox-inline"
                                       type="checkbox"
                                       ng-model="isChk"
                                       ng-click="tempSubjectCall($index,isChk,$parent.$index)"
                                       ng-checked="(isChecked(subj,student.subjects))"

                                       >  {{subj}}
                            </label>
                        </td>
                        <td><div ng-repeat="task in student.tasks">{{task.title}}</div></td>
                        <td ng-hide=" toShow == $index " >{{student.id}}</td><td ng-show="toShow == $index"><input  type="text"  ng-value="student.id"></td>
                        <td ng-hide=" toShow == $index " >{{student.pass}}</td><td ng-show="toShow == $index"><input  type="text"  ng-value="student.pass"></td>
                        <td ng-hide=" toShow == $index " ><button ng-click="edit($index)"> Edit </button></td><td ng-show=" toShow == $index " ><button ng-click=""> Update </button></td>
                    </tr>
                </tbody>
        </table>

<button> Update </button>
<a href="#/admin">Go to Form</a>
