        <h3>Login to Continue</h3>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#popUpWindow">Open Login Window</button>
        <div class="modal fade" id="popUpWindow" >
                <div class="modal-dialog">
                        <div class="modal-content">
                                <!-- Header -->
                                <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title">Log-In</h3>
                                </div>
                                <!-- Body -->
                                <div class="modal-body">
                                        <form role="form">
                                                <div class="form-group">
                                                        <input class="form-control" type="text" ng-model="txtUserID" placeholder="User ID">

                                                </div>
                                                <div class="form-group">
                                                         <input class="form-control" type="password" ng-model="txtUserPass" placeholder="Password">
                                                </div>
                                        </form>
                                </div>
                                <!-- Button -->
                                <div class="modal-footer">
                                        <button class="btn btn-primary btn-block" type="button" ng-click="login()" data-dismiss="modal">Login</button>
                                </div>
                        </div>
                </div>
        </div>